<section class="introduction__layout">
  {% set arrImageSrc = [
    'fantasy-image01.jpg',
    'fantasy-image02.jpg',
    'fantasy-image03.jpg',
    'fantasy-image04.jpg',
    'fantasy-image05.jpg',
    'fantasy-image06.jpg',
    'fantasy-image07.jpg',
    'fantasy-image08.jpg'
    ] %}

    {% include "././_introduction-block.njk" %}
</section>
